
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=League+Spartan:wght@600&family=Montserrat&family=Mulish&family=Open+Sans&family=Poppins:wght@500&family=Roboto+Slab:wght@500&family=Ubuntu:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 170vh;
    width: 100%;
    background: #0F2027; 
       background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: 'League Spartan', sans-serif;
}
nav{
    margin-top: 1.8rem;
    padding: 10px 10px 10px 1.8rem;
    text-transform: uppercase;
    font-size: 2rem;
    text-shadow: 0 0 17px rgba(0, 0, 0, 0.555);
    color: white;
    opacity: 0.7;
    font-weight: 800;
    font-family: 'League Spartan', sans-serif;
    width: 100%;        
}

.main-container{
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    /* margin-left: 5rem; */
    justify-content: space-around;
}
.image{
    margin-top: 4rem;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    background:black;
    width: 20rem;
    height: 20rem;
    overflow: hidden;
    box-shadow: 0 0 10px black;
    animation: zoom-in-zoom-out 4s linear infinite alternate-reverse;
}
@keyframes  zoom-in-zoom-out {
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.2);
    }
    
}
.pic{
    width: 20rem;
    height: 20rem;
    overflow: hidden;
}

.content{
    color: white;
    opacity: 0.8;
    font-weight: normal;
    margin-top: 5rem;
    font-size: 1.5rem;
    font-family: 'League Spartan', sans-serif;
    line-height: 3.4rem;
    letter-spacing: 2px;
    width: auto;
}
.name{
    color: blue;
    text-shadow: 0 0 3px blue;
}
.dev{
    color: blueviolet;
    text-shadow: 0 0 3px violet;
}

.project{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}
.heading{
    font-size: 2rem;
    text-align: center;
    margin-top: 10rem;
    font-weight: bold;
    letter-spacing: 8.5px;
}
.heading::after{
    content: '';
    height: 7px;
    width:8rem;
    /* border: 1px solid red; */
    display: inline-block;
    background-color: blueviolet;
    position: absolute;
    bottom: -5px;
    left: 38rem;
    border-radius: 10px;
}
.pro{
    height: 190px;
    width: 17rem;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 6px;
    box-shadow: 0 0 20px rgba(86, 119, 116, 0.562);
}
.pro1{
    background:url("chat.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.pro2{
    background:url("clone.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.pro3{
    background:url("curr.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.pro4{
    background:url("landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.ani{
    width: 100%;
    height: 20px;
    color: white;
    background-color: black;
    opacity: 0.5;
    font-size: 1.4rem;
    transition: 0.4s all ease;
    text-align: center;
    cursor: pointer;
}
.pro:hover .ani{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-icon{
    display: flex;
    align-items: center;
    height: 30vh;
    justify-content: center;
    gap:2rem;
    font-size: 3rem;

}

.contact-icon a i{
    background-color: black;
    padding: 11px;
    border-radius: 50%;
    transition: 0.3s all ease;
}

.contact{
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-top: 5rem;
    opacity: 0.7;
    letter-spacing: 2px;
}
.contact-icon a i{
    background-color: rgba(255, 255, 255, 0.74);
    margin-top: -4rem;
}
.fa-brands:hover{
    transform: translateY(-15px);
    background-color: black;
}
.fa-square-instagram:hover{
    color: white;
    opacity: 0.8;
}
.fa-twitter:hover{
    color: white;
    opacity: 0.8;
}
.fa-linkedin:hover{
    color: white;
    opacity: 0.8;
}

.btn{
    height: 3rem;
    width: 40%;
    background-color: blueviolet;
    /* position: relative; */
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
    /* background:none; */
    color: whitesmoke;
    margin: 0 auto;
    margin-top: 1rem;
    outline: none;
    border: 1px solid black;
    font-size: 1rem;

}
/* .btn::after{
    content: '';
    height: 2.5rem;
    width: 13.4%;
    background-color: rgb(55, 55, 163);
    position: absolute;
    z-index: -1;
    left: 11.01rem;
    top: 26rem;
    transition:0.3s all ease;
}
.btn:hover:after{
    left:9.8rem;
    top: 25.1rem;
} */


@media (max-width:786px) {
    .main-container{
        display: block;
        margin-left: 10rem;
    }
    .project{
        display: block;
        margin-left: 10rem;
    }
    .pro{
        margin-top: 3rem;
    }
    footer{
        margin-right:100px ;
    }
    .image{
        height: 10rem;
        width: 10rem;
    }
    .pic{
        width: 200px;
        height: 200px;
    }
}